
.review {
    margin-top: 30px;
    background-color: hsl(219, 30%, 18%);
    margin-right: 50px;
    margin-left: 50px;
    line-height: 22px;
    padding: 10px;
    border-radius: 5px;
    padding-bottom: 25px;
    padding-top: 20px;
}

.thep   {
    margin-left: 15px;
    margin-right: 5px;
    line-height: 30px;
    padding-bottom: 10px;
}

.theh  {
    margin-left: 60px;
    margin-right: 10px;
    margin-bottom: 0px;
}

.thehh  {
    margin-left: 60px;
    margin-right: 10px;
    margin-top: 5px;
}

.profile {
    width: 35px;
    position: absolute;
    margin-left: 10px;
    margin-top: 7px;
    border-radius: 50px;
}

.quotation-mark {
    filter: invert(100%) sepia(92%) saturate(7422%) hue-rotate(152deg) brightness(98%) contrast(83%);
    width: 30px;
    border-radius: 0px;
    position: absolute;
    margin-left: 15px;
}

.reviews    {
    display: flex;
    justify-content: space-between;
    
}


/*                  media queries                    */

@media (max-width: 375px) {
    body    {
        margin: 0px;
    }
    .review {
        margin: 20px 37px 15px 37px; 
        line-height: 15px;
        padding-bottom: 25px;

    }
    .thep   {
        margin-top: 10px;
        font-size: 10px;
        padding-top: 5px;
        line-height: 23px;
    }
    .theh  {
        font-size: 12px;
    }
    .thehh  {
        font-size: 10px;
    }
    .profile {
        margin-top: 0px;
    }
    .quotation-mark {
        width: 15px;
        margin-top: 20px;
        margin-left: 45px;
    }
    .reviews    {
        display: block;
        margin-top: 30px;
    }
}

@media (max-width: 500px) {
    .review {
        margin: 20px 37px 15px 37px; 
        line-height: 15px;
        padding-bottom: 25px;

    }
    .thep   {
        margin-top: 10px;
        font-size: 10px;
        padding-top: 5px;
        line-height: 23px;
    }
    .theh  {
        font-size: 12px;
    }
    .thehh  {
        font-size: 10px;
    }
    .profile {
        margin-top: 0px;
    }
    .quotation-mark {
        width: 15px;
        margin-top: 20px;
        margin-left: 45px;
    }
    .reviews    {
        display: block;
    }
}

@media (max-width: 786px) {
    .review {
        margin: 20px 37px 15px 37px; 
        line-height: 15px;
        padding-bottom: 25px;

    }
    .thep   {
        margin-top: 10px;
        font-size: 15px;
        padding-top: 5px;
        line-height: 23px;
    }
    .theh  {
        font-size: 17px;
    }
    .thehh  {
        font-size: 16px;
    }
    .profile {
        margin-top: 0px;
    }
    .quotation-mark {
        width: 15px;
        margin-top: 20px;
        margin-left: 45px;
    }
    .reviews    {
        display: block;
    }
}

@media (max-width: 412px) {
    .review {
        margin: 20px 37px 15px 37px; 
        line-height: 15px;
        padding-bottom: 25px;

    }
    .thep   {
        margin-top: 10px;
        font-size: 15px;
        padding-top: 5px;
        line-height: 23px;
    }
    .theh  {
        font-size: 17px;
    }
    .thehh  {
        font-size: 16px;
    }
    .profile {
        margin-top: 0px;
    }
    .quotation-mark {
        width: 15px;
        margin-top: 20px;
        margin-left: 45px;
    }
    .reviews    {
        display: block;
    }
}
