@import"card css.css";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    color: hsl(0, 0%, 100%);
}
body {
    background-color: hsl(218, 28%, 13%);
    font-size: 14px;
    color: hsl(0, 0%, 100%);
    font-family: 'Open Sans', sans-serif;
}
.navbar {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
    padding: 20px;
    
}
.logo {

    width: 30%;
}
.logo img {
    width: 70%;
}
.navigation {
    font-family: 'Raleway', sans-serif;
}

.navigation a:hover {
    background-color: hsl(198, 60%, 50%);
    border: 1px solid hsl(198, 60%, 50%);
    padding: 12px 20px;
}
.navigation a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    
}
.navigation ul {
    list-style: none;
}
.navigation li{
    display: inline;
    margin-left: 50px;
    font-family: 'Raleway', sans-serif;
}
.hero {
   
    width: 70%;
    height: 100vh;
   text-align: center;
   margin: 0 auto;
}
h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
}
.hero img {
    width: 60%;
    height: 70vh;
}
.hero p {
    margin-bottom: 40px;
    margin-top: 40px;
}
.call-to-action {
    padding: 12px 100px;
    border-radius: 40px;
    background: linear-gradient(50deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    font-family: 'Raleway', sans-serif;
    color: hsl(0, 0%, 100%);
}
.call-to-action:hover {
    background: linear-gradient(50deg, hsl(198, 60%, 50%), hsl(176, 68%, 64%)); ;
}
.section1 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    width: 80%;
    margin: 0 auto;
    height: 500px;
}
.grid-item {
    height: 250px;
    width: 100%;
    text-align: center;
    padding: 50px;
} 
.section2 {
    display: flex;
    height: 70vh;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
}
.section3{
    margin-top: 100px;
    display: flex;
    height: 70vh;
    width: 100%;
}
.image-section {
    width: 50%;
    margin: 30px 0;
}
.image-section img {
    width: 90%;
    
}
.text-section {
    width: 50%;
    margin: auto;

}
.text-section h2 {
    width: 50%;
   
}
#content-t {
    margin-bottom: 20px;
    margin-top: 20px;
    
}
#content-t2 {
    margin-bottom: 20px;
    
}
#content {
   
    margin-top: 100px;
    width: 90%;
}
#content-p {
    
    text-decoration: none;
    text-decoration: underline;
    text-underline-offset: 5px;
}
.text-section a {
    color: hsl(176, 68%, 64%);
}

/* For mobile phones */
@media only screen and (max-width:500px) {
    
    .hero {
   
        max-width: 70%;
        height: 100vh;
       text-align: center;
       margin: auto;
       margin-top: 100px;
       margin-bottom: 0;
       padding: auto;
    }
    .hero img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    .grid-container {
        display: flex;
        flex-direction: column;
       height: 100%;
       margin-top: -250px;
    }
   .grid-item {
      max-width: 100%;
      height: auto;
      text-align: center;
      
    }
    .section1 {
        margin-top: 200px;
    }
    
    .section2 {
        display: flex;
        height: 80vh;
        max-width: 90%;
        margin: 20px auto;
        flex-direction: column;
    }
    .section3{
        display: flex;
        height: 80vh;
        width: 100%;
        margin: 300px auto 0 auto;
        flex-direction: column;
    }
    .image-section {
        width: 100%;
        margin: 5px auto 5px auto;
    }
    .image-section img {
        width: 100%;   
    }
    .text-section {
        width: 100%;
        margin:auto;
    }
    .text-section h2 {
        width: 100%;
    }
    #content {
        margin-top: 5px;
        width: 90%;
    }
    .navigation li{
        display: inline;
        margin-left: 5px;
    }
    .navigation a:hover {
        padding: 3px 5px;
    }
    .navbar {
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: space-between;
    }
    .logo {
        
        width: 30%;
    }
    .logo img {
        width: 100%;
        
    }
}
 @media only screen and (max-width:375px) {
    .section1 {
        margin-top: 200px;
    }
    .navbar {
        width: 100%;
        margin: 5;
        display: flex;
        justify-content: space-between;
    }
    .navigation li{
        display: inline;
        margin-left: 2px;
    }
    .navigation a:hover {
        padding: 3px 5px;
    }
    .logo {
        
        width: 30%;
    }
    .logo img {
        width: 100%;
        
    }
    .call-to-action {
        padding: 5px 30px;
        border-radius: 40px;
        
    }
}
@media(min-width:501px) and (max-width:1100px) {
    .hero {
   
        width: 70%;
        height: 100vh;
       text-align: center;
       margin: auto;
    }
    .hero img {
        width: 100%;
        height: 50vh;
    }
    .grid-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        height: 300px;
    }
    .section1 {
        margin-top: 5px;
    }
    .section2 {
        display: flex;
        height: 80vh;
        width: 90%;
        margin: 800px auto 0 auto;
        flex-direction: column;
    }
    .section3{
        display: flex;
        height: 80vh;
        width: 100%;
        margin-top: 400px;
    }
    .image-section {
        width: 90%;
        margin: 5px auto 5px auto;
    }
    .image-section img {
        width: 100%;   
    }
    .text-section {
        width: 90%;
        margin:auto;
    }
    .text-section h2 {
        width: 100%;
    }
    #content {
        margin-top: 5px;
        width: 90%;
    }
    .navigation li{
        display: inline;
        margin-left: 10px;
    }
    .navigation a:hover {
        background-color: hsl(198, 60%, 50%);
        border: 1px solid hsl(198, 60%, 50%);
        padding: 6px 10px;
    }
    .navbar {
        width: 100%;
    }
    .logo {
        
        width: 40%;
    }
    .logo img {
        width: 100%;
        
    }
}
